.footer {
	padding-top: 36px;
	padding-bottom: 80px;
}

.footer-row {
	display: flex;
	gap: 80px;
	align-items: flex-start;
}

.footer-row > * {
	flex: 1;
}

.footer-info {
	display: grid;
	gap: 32px;
}

.footer-logo {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 32px;
	line-height: 90%;
	color: var(--text-default);
}

.footer-copyright {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: var(--text-default);
	opacity: 0.6;
}

.footer-nav {
	display: grid;
	gap: 32px;
}

.footer-title {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 160%;
	color: var(--text-default);
}

.footer-nav-list {
	display: grid;
	gap: 16px;
}

.footer-link {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: var(--text-default);

	opacity: 0.6;
}

@media (max-width: 580px) {
	.footer-row {
		gap: 40px;
		row-gap: 60px;
		flex-wrap: wrap;
	}

	.footer-info {
		flex-basis: 100%;
		order: 9;
	}
}
