.footer_footer__wz-el {
    background-color: #42454f;
    height: 160px;
    padding-left: 110px;
    padding-top: 60px;
    /* margin-top: 17px; */
  }
  .footer_contact__SF9bl h2 {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .footer_contact__SF9bl li {
    color: #fff;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .footer_contact__SF9bl li:hover {
    color: #ff5a00;
    transition: 0.4s;
  }
  .header_nav__3YBcv {
    display: flex;
    /* justify-content: space-between; */
    width: 1100px;
  }

  @media (max-width: 599px) {
	.header_nav__3YBcv {
	  width: 320px;
	}
  }
  .header_logo__yR5M6 {
    padding-top: 15px;
    width: 150px;
  }
  .header_nav-items__bfXCq {
    display: flex;
    padding-top: 25px;
    margin-right: auto;
    margin-left: auto;
  }
  .header_nav-items__bfXCq ul {
    display: flex;
    padding-top: 10px;
  }
  .header_nav-items__bfXCq li {
    color: #42454f;
    margin-right: 20px;
  }
  .header_nav-items__bfXCq li:after {
    border: 1px solid #42454f;
    content: "";
    display: inline-block;
    height: 13px;
    margin-left: 15px;
    width: 0.5px;
  }

  @media (max-width: 599px) {
	.header_nav-items__bfXCq li:after {
	  content: none;
	}
  }

  @media (max-width: 599px) {
	.header {
        width: 320px;
	}
  }
  .header_nav-items__bfXCq li:hover {
    color: #ff5a00;
  }
  .header_btn__po\+bJ {
    background-color: #ff5a00;
    color: #fff;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    width: 140px;
  }
  .header_navigation__rT9I\+ {
    margin-left: auto;
    width: 575px;
  }
  .header_navigation__rT9I\+ ul {
    display: flex;
    justify-content: space-between;
  }
  .header_navigation__rT9I\+ a {
    color: #000;
    float: left;
    font-size: 16px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
  }
  .header_navbar__vCg91,
  .header_navbarrr__TNz73 {
    overflow: hidden;
    text-align: center;
  }
  .header_navbar__vCg91 a {
    color: #000;
    float: left;
    font-size: 16px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
  }
  .header_dropdown__FNXNX,
  .header_dropdownn__rPWmq {
    float: left;
    overflow: hidden;
  }
  .header_dropdown__FNXNX .header_dropbtn__-mQ\+j,
  .header_dropdownn__rPWmq .header_dropbtnn__5aWuZ {
    background-color: inherit;
    border: none;
    font-family: inherit;
    font-size: 16px;
    margin: 0;
    outline: none;
    padding: 14px 16px;
  }
  .header_dropdown__FNXNX:hover .header_dropbtn__-mQ\+j,
  .header_navbar__vCg91 a:hover {
    background-color: #f4f2f2;
  }
  .header_navbarrr__TNz73:hover {
    color: #ff5a00;
  }
  .header_navbarrr__TNz73:hover .header_dropdown-contentss__meGsu {
    display: block;
  }
  .header_dropdown-content__sf3RC {
    background-color: #f4f2f2;
    min-width: 200px;
  }
  .header_dropdown-content__sf3RC,
  .header_dropdown-contents__eCqfd {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    z-index: 1;
  }
  .header_dropdown-contents__eCqfd {
    background-color: #fff;
    height: 300px;
    left: 160px;
    min-width: 500px;
  }
  .header_dropdown-contentss__meGsu {
    background-color: #f4f2f2;
    display: none;
    height: 300px;
    left: 260px;
    min-width: 700px;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .header_dropdown-contentss__meGsu img {
    height: 100px;
    margin-top: 75px;
    width: 130px;
  }
  .header_menu__SHxSW {
    display: flex;
    padding-left: 70px;
  }
  .header_menu__SHxSW div {
    padding-left: 70px;
    width: 200px;
  }
  .header_menu__SHxSW div a {
    display: block;
    font-size: 13px;
    margin-top: 60px;
    padding: 0;
  }
  .header_dropdown-content__sf3RC a,
  .header_dropdown-contents__eCqfd a {
    color: #000;
    display: block;
    float: none;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
  }
  .header_dropdown-contentss__meGsu a {
    color: #000;
    display: block;
    float: none;
    padding: 12px 16px 12px 250px;
    text-align: left;
    text-decoration: none;
  }
  .header_dropdown-content__sf3RC a:hover {
    color: #ff5a00;
  }
  .header_dropdown__FNXNX:hover .header_dropdown-content__sf3RC {
    display: block;
  }
  .header_dropdown-contents__eCqfd a:hover {
    color: #ff5a00;
  }
  .header_dropdown__FNXNX:hover .header_dropdown-contents__eCqfd {
    display: block;
  }
  .header_dropdownn__rPWmq:hover .header_dropbtnn__5aWuZ,
  .header_navbar__vCg91 {
    background-color: #fff;
  }
  .page-one_page-one__UArVP {
    padding-bottom: 100px;
    padding-left: 170px;
    padding-top: 50px;
  }
  .page-one_title__IeyXo {
    display: flex;
    margin-bottom: 75px;
    width: 430px;
  }
  .page-one_title__IeyXo img {
    margin-right: 20px;
    width: 80px;
  }
  .page-one_title__IeyXo h1 {
    font-size: 52px;
    margin-bottom: 25px;
  }
  .page-one_title__IeyXo p {
    font-size: 16px;
  }
  .page-one_icons__ChX8Y {
    display: flex;
    justify-content: space-between;
    width: 432px;
  }
  .page-one_icon__JcfTP {
    display: flex;
    width: 118px;
  }
  .page-one_icon__JcfTP img {
    height: 29px;
    margin-right: 10px;
    width: 29px;
  }
  .page-one_icon__JcfTP h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .page-one_icon-1__LvDDW {
    display: flex;
    width: 150px;
  }
  .page-one_icon-1__LvDDW img {
    height: 29px;
    margin-right: 10px;
    width: 29px;
  }
  .page-one_icon-1__LvDDW h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .page-one_btn-container__JATbo {
    border-top: 0.0625rem solid rgba(66, 69, 79, 0.2);
    display: flex;
    margin-top: 40px;
    padding-top: 35px;
    width: 540px;
  }
  .page-one_btn-container__JATbo a {
    border: 2px solid #ff5a00;
    display: flex;
    line-height: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    text-align: center;
  }
  .page-one_coh-row-inner__kxMas {
    display: flex;
  }
  .page-one_page-one__hvbk7 {
    padding-bottom: 100px;
    padding-left: 170px;
    padding-top: 50px;
  }
  .page-one_title__JGaZt {
    display: flex;
    margin-bottom: 75px;
    width: 430px;
  }
  .page-one_title__JGaZt img {
    margin-right: 20px;
    width: 80px;
  }
  .page-one_title__JGaZt h1 {
    font-size: 52px;
    margin-bottom: 25px;
  }
  .page-one_title__JGaZt p {
    font-size: 16px;
  }
  .page-one_icons__8Tcdy {
    display: flex;
    justify-content: space-between;
    width: 432px;
  }
  .page-one_icon__8DA7s {
    display: flex;
    width: 118px;
  }
  .page-one_icon__8DA7s img {
    height: 29px;
    margin-right: 10px;
    width: 29px;
  }
  .page-one_icon__8DA7s h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .page-one_icon-1__MNOZB {
    display: flex;
    width: 150px;
  }
  .page-one_icon-1__MNOZB img {
    height: 29px;
    margin-right: 10px;
    width: 29px;
  }
  .page-one_icon-1__MNOZB h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .page-one_btn-container__jTlwx {
    border-top: 0.0625rem solid rgba(66, 69, 79, 0.2);
    display: flex;
    margin-top: 40px;
    padding-top: 35px;
    width: 540px;
  }
  .page-one_btn-container__jTlwx a {
    border: 2px solid #ff5a00;
    display: flex;
    line-height: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    text-align: center;
  }
  .page-one_coh-row-inner__S\+Rhz {
    display: flex;
  }
  .page-three_page-one__EGe\+W {
    padding-bottom: 100px;
    padding-left: 50px;
    padding-top: 50px;
  }
  .page-three_title__8qjqj {
    display: flex;
    margin-bottom: 75px;
    width: 430px;
  }
  .page-three_title__8qjqj img {
    margin-right: 20px;
    width: 100px;
  }
  .page-three_title__8qjqj h1 {
    font-size: 52px;
    margin-bottom: 25px;
  }
  .page-three_title__8qjqj p {
    font-size: 16px;
  }
  .page-three_icons__uYZlJ {
    display: flex;
    justify-content: space-between;
    width: 432px;
  }
  .page-three_icon__oXeVZ {
    display: flex;
    width: 118px;
  }
  .page-three_icon__oXeVZ img {
    height: 29px;
    margin-right: 10px;
    width: 29px;
  }
  .page-three_icon__oXeVZ h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .page-three_icon-1__\+yiaC {
    display: flex;
    width: 150px;
  }
  .page-three_icon-1__\+yiaC img {
    height: 29px;
    margin-right: 10px;
    width: 29px;
  }
  .page-three_icon-1__\+yiaC h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .page-three_btn-container__S0cBz {
    border-top: 0.0625rem solid rgba(66, 69, 79, 0.2);
    display: flex;
    margin-top: 40px;
    padding-top: 35px;
    width: 540px;
  }
  .page-three_btn-container__S0cBz a {
    border: 2px solid #ff5a00;
    display: flex;
    line-height: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    text-align: center;
  }
  .page-three_coh-row-inner__1w8e0 {
    display: flex;
  }
  .main_main__A4cSK {
    background-image: url(./AspenPumps_land_1600x1060-min.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: initial;
    height: 500px;
    padding-bottom: 70px;
    padding-left: 110px;
    padding-top: 70px;
  }

  @media (max-width: 599px) {
	.main_main__A4cSK {
	  /* width: 320px; */
      padding-left: 30px;
	}
  }
  
  .main_desc__b6w1q {
    width: 570px;
  }
  .main_desc__b6w1q img {
    margin-bottom: 30px;
    width: 110px;
  }
  .main_desc__b6w1q h1 {
    color: #fff;
    font-size: 52px;
    margin-bottom: 25px;
  }
  @media (max-width: 599px) {
	.main_desc__b6w1q h1 {
	  font-size: 44px;
	}
    .main_desc__b6w1q {
        width: 200px;
    }
    .footer_footer__wz-el {
        padding: 0px;
        padding-top: 20px;
        /* width: 350px; */
    }
    .header_nav__3YBcv{
        display: block;
        padding-left: 30px;
        width: 400px;
        padding-bottom: 20px;
    }
    .header_nav-items__bfXCq {
        font-size: 14px;
    }
  }

  .main_desc__b6w1q p {
    color: #fff;
    font-size: 16px;
  }
  .page-one_page-one__W5jk2 {
    padding-bottom: 100px;
    padding-left: 170px;
    padding-top: 50px;
  }
  .page-one_title__lyLb0 {
    display: flex;
    margin-bottom: 75px;
    width: 430px;
  }
  .page-one_title__lyLb0 img {
    margin-right: 20px;
    width: 80px;
  }
  .page-one_title__lyLb0 h1 {
    font-size: 52px;
    margin-bottom: 25px;
  }
  .page-one_title__lyLb0 p {
    font-size: 16px;
  }
  .page-one_icons__J7IPF {
    display: flex;
    justify-content: space-between;
    width: 432px;
  }
  .page-one_icon__M0S8Q {
    display: flex;
    width: 118px;
  }
  .page-one_icon__M0S8Q img {
    height: 29px;
    margin-right: 10px;
    width: 29px;
  }
  .page-one_icon__M0S8Q h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .page-one_icon-1__3EaWJ {
    display: flex;
    width: 150px;
  }
  .page-one_icon-1__3EaWJ img {
    height: 29px;
    margin-right: 10px;
    width: 29px;
  }
  .page-one_icon-1__3EaWJ h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .page-one_btn-container__RiSqf {
    border-top: 0.0625rem solid rgba(66, 69, 79, 0.2);
    display: flex;
    margin-top: 40px;
    padding-top: 35px;
    width: 540px;
  }
  .page-one_btn-container__RiSqf a {
    border: 2px solid #ff5a00;
    display: flex;
    line-height: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    text-align: center;
  }
  .page-one_coh-row-inner__x9UP3 {
    display: flex;
  }
  .page-five_page-one__QouD4 {
    padding-bottom: 100px;
    padding-left: 170px;
    padding-top: 50px;
  }
  .page-five_title__ZVYT2 {
    display: flex;
    margin-bottom: 75px;
    width: 430px;
  }
  .page-five_title__ZVYT2 img {
    margin-right: 20px;
    width: 100px;
  }
  .page-five_title__ZVYT2 h1 {
    font-size: 52px;
    margin-bottom: 25px;
  }
  .page-five_title__ZVYT2 p {
    font-size: 16px;
  }
  .page-five_icons__n4OCF {
    display: flex;
    justify-content: space-between;
    width: 432px;
  }
  .page-five_icon__ETldZ {
    display: flex;
    width: 118px;
  }
  .page-five_icon__ETldZ img {
    height: 29px;
    margin-right: 10px;
    width: 29px;
  }
  .page-five_icon__ETldZ h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .page-five_icon-1__nvQp5 {
    display: flex;
    width: 150px;
  }
  .page-five_icon-1__nvQp5 img {
    height: 29px;
    margin-right: 10px;
    width: 29px;
  }
  .page-five_icon-1__nvQp5 h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .page-five_btn-container__Ki9Xo {
    border-top: 0.0625rem solid rgba(66, 69, 79, 0.2);
    display: flex;
    margin-top: 40px;
    padding-top: 35px;
    width: 540px;
  }
  .page-five_btn-container__Ki9Xo a {
    border: 2px solid #ff5a00;
    display: flex;
    line-height: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    text-align: center;
  }
  .page-five_coh-row-inner__sQIlw {
    display: flex;
  }
  /*# sourceMappingURL=main.c4120f84.css.map*/
  