.icon-gh{
  width: 42px;
  height: 42px;
}
.icon-id{
width: 32px;
height: 32px;

}
.icons-social{
  width: 48px;
  height: 48px;
  /* Mobile */
  @media (max-width: 899px) {
     width: 38px;
     height: 38px;
  }
}