.section__portfolio {
  background: linear-gradient(0deg, #f5fbff, #f5fbff), #f4f8f9;
  padding-top: 80px;
  padding-bottom: 90px;
  /* Tablet */
  @media (max-width: 1339px) {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  /* Mobile */
  @media (max-width: 899px) {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
.section__portfolio-titile {
  margin-bottom: 30px;
}
.title-2 {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.3;
  color: #000000;
  /* Tablet */
  @media (max-width: 1339px) {
    font-size: 42px;
  }
  /* Mobile */
  @media (max-width: 899px) {
    font-size: 32px;
  }
}
.title-2.gradient {
  background-position: center bottom 9px;
  background-size: 100% 10px;
  /* Mobile */
  @media (max-width: 899px) {
    background-position: center bottom 7px;
    background-size: 100% 7px;
  }
}
.title-5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #000000;

  /* Tablet */
  @media (max-width: 1339px) {
    font-size: 18px;
  }
}

.mix-block__btn {
  margin-bottom: 33px;
}

.mix-block__btn button {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: #9ec2d0;
  margin-right: 70px;
  border-color: unset;
  background-color: unset;
  border: unset;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &:hover,
  :active,
  :focus {
font-weight: 700;
font-size: 24px;
line-height: 1.3;
color: #FF543E;
  }
}
button.control-active {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: #000000;
}
