@media (max-height: 799px) {
  .title-textblock .textblock--title h2 {
    font-size: 40px;
  }
  .title-textblock .textblock--title p {
    font-size: 14px;
  }
  .textblock--content-inner article p {
    font-size: 14px;
  }
  .title-textblock .textblock--img {
    max-height: 200px;
  }
}
.title-textblock .textblock--title h2 {
  font-size: 48px;
}
@media (max-width: 799px) {
  .title-textblock .textblock--title h2 {
    font-size: 28px;
    line-height: 35px;
    margin-top: 25px;
  }
}

@media (max-height: 599px) {
  .title-textblock .textblock--title h2 {
    font-size: 30px;
  }
  .title-textblock .textblock--title p {
    font-size: 12px;
  }
  .textblock--content-inner article p {
    font-size: 12px;
  }
  .title-textblock .textblock--img {
    max-height: 150px;
  }
}

@media (max-height: 550px) {
  .title-textblock .textblock--title h2 {
    font-size: 25px;
  }
  .title-textblock .textblock--title p {
    font-size: 10px;
  }
  .textblock--content-inner article p {
    font-size: 10px;
  }
  .title-textblock .textblock--img {
    max-height: 130px;
  }
}

.img_country {
  /* display: inline-block; */
  position: fixed;
  top: 20px;
  left: 1785px;
}
.img_country img {
  margin-bottom: 10px;
}

.img_country-2,
.img_country-3,
.img_country-4,
.img_country-6,
.img_country-7 {
  width: 30px;
  margin-left: 10px;
}

.img_country-8 {
  position: absolute;
  left: -8px;
  width: 45px;
  margin-left: 10px;
}
.img_country-5 {
  width: 50px;
}
.img_country-1 {
  width: 35px;
  margin-left: 7px;
}

.btn {
  font-size: 14px;
  padding: 5px 10px;
  margin-top: 100px;
}

@media (max-width: 799px) {
  .btn {
    margin-bottom: 30px;
    margin-top: 50px;
  }
}

.how-its-work {
  background-color: #fff2cc;
  width: 650px;
  height: 100%;
  position: fixed;
  display: none;
  top: 0px;
  left: 1192px;
  z-index: 99;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media (max-width: 799px) {
  .how-its-work {
    overflow: scroll;
    width: 100%;
    left: 0px;
    padding-right: 10px;
    top: 200px;
    height: 80%;
    top: 0px;
  }
}

.how-its-work h2 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
}

.how-its-work p {
  font-size: 15px;
}

.active.how-its-work {
  display: block;
}

.logo.active {
  z-index: 0;
}

.textblock--content-inner {
  position: relative;
}
.textblock--content-inner img {
  position: absolute;
  top: 215px;
  left: 490px;
  width: 45px;
}
.downloads-section .single-news .news--title h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.news--title {
  width: 590px;
}

@media (max-width: 799px) {
  .downloads-section .single-news .news--title h2 {
    font-size: 16px;
  }
  .news--title {
    width: 360px;
  }
}

.downloads-section .single-news .news--img .image-holder {
  width: 660px;
}
@media (max-width: 799px) {
  .downloads-section .single-news .news--img .image-holder {
    width: 320px;
  }
}

.ograni {
  width: 385px;
}

@media (max-width: 799px) {
  .ograni {
    width: 180px;
    font-size: 14px;
  }
}
.single-news .news--img .image-holder:not(.team-holder) {
  padding-bottom: 100px;
}
.news--title img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 28px;
  cursor: pointer;
}

.news--title div:hover .work-in-britany {
  display: block;
}

.work-in-britany {
  display: none;
  position: absolute;
  top: -60px;
  left: 590px;
  width: 640px;
  background-color: #fff;
  padding: 10px;
}

.work-in-britany p {
  font-size: 20px;
}
.work-in-britany-1 p {
  font-size: 20px;
}

.work-in-britany-1 {
  display: none;
  position: absolute;
  top: -360px;
  left: 520px;
  width: 640px;
  background-color: #fff;
  padding: 10px;
  z-index: 99;
}

@media (max-width: 799px) {
  .work-in-britany {
    left: 0px;
    top: -455px;
    width: 330px;
    font-size: 14px;
  }
  .work-in-britany p {
    font-size: 14px;
  }
  .work-in-britany-1 p {
    font-size: 14px;
  }

  .work-in-britany-1 {
    left: 0px;
    top: -530px;
    width: 330px;
    font-size: 14px;
  }
}
.britany {
  cursor: pointer;
}
.britany:hover .work-in-britany-1 {
  display: block;
}

.downloads-section .single-news--inner {
  width: 800px;
}

.fade-content--title h2 {
  font-size: 78px;
  line-height: 120px;
  margin-bottom: 100px;
}

.fade-content--title {
  width: 1000px;
  max-width: none;
}

.fade-content--title p {
  font-size: 38px;
  line-height: 55px;
  color: #fff;
}

.rigion-city {
  width: 100%;
  height: 100%;
}

.region {
  background-image: url(../images/img_page/Рисунок2.png);
  background-repeat: no-repeat;
  height: 900px;
}

.city {
  background-position: 15px;
  background-image: url(../images/img_page/Рисунок4.png);
  background-repeat: no-repeat;
  height: 900px;
}

.img-bg img {
  height: 100%;
  width: 100%;
}

.country {
  height: 770px;
  overflow-y: scroll;
}
.margin{
  margin-left: -1240px;
}
.map {
  display: flex;
  gap: 45px;
}
.sub{
  margin-left: 200px; 
  padding-top: 10px;
}

@media (max-width: 799px) {
  .hidden-class {
    display: none;
  }
  .margin{
    margin-left: 0px;
  }
  .map {
    display: block;
  }
  .sub{
    margin-left: 90px; 
    padding-top: 10px;
    width: 145px;
  }
}


