*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%; /* sticky footer */
	scroll-behavior: smooth;
}

body {
	// height: 100%; /* sticky footer */
	display: flex; /* sticky footer */
	flex-direction: column; /* sticky footer */
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #000000;
}

body > * {
	flex-shrink: 0; /* sticky footer */
}

input, textarea, button {
	font-family: inherit;
	padding: 0;
}

label {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

legend {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
}

/* Grid styles */

.container {
	width: 1140px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;

	/* Tablet big */
	@media (max-width: 1339px) {
		 width: 900px;
	}

	/* Tablet small */
	@media (max-width: 899px) {
		 width: 768px;
	}
	/* Mobile */
	@media (max-width: 767px) {
		 width: 320px;
	}
}

/* Utility */

.none {
	display: none !important;
}

/* Sticky Footer */

.footer {
	margin-top: auto; /* sticky footer */

}