.gradient{
	display: inline;
	background-repeat: no-repeat;
	background-position: center bottom 13px;
	background-size: 100% 15px;
	background-image: linear-gradient(to right, #fbdc4d, #fbdc4d);
}