@import './reset.css';

body{
  margin: 0;
  font-family: 'Lobster', cursive;
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Sans';
  color: #31405B;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
  }
  .inner-page{
    padding-top: 60px;
    padding-bottom: 100px;
    background-color: #F2F8F6;
  }
.main-header{
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 54px;
  color: #31405B;
}
.main-content-header{
  margin-bottom: 20px;
}
/* Header */
.header{
  height: 800px;
  background-color: #265847;
  background-image: url(../img/Header/Forestheader.jpg);
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  color: #FFFFFF;
  position: relative;
}

.header-inner{
height: 100px;
background-color: #265847;
background-image: url(../img/Header/header.jpg);
margin: 0 auto;
background-size: cover;
color: #FFFFFF;
display: flex;
align-items: center;
}
.header-top{
  width: 1170px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
.logo {
  font-family: 'Lobster', cursive;
  font-style: normal;
  font-size: 40px;
  color: #FFFFFF;
}
.header-nav {
  font-family: 'PT Sans';
  font-size: 22px;
  color: #FFFFFF;
}
.header-nav-list {
  display: flex;
}
.header-nav-list-item:not(:last-child){
  margin-right: 50px;
}
.header-nav-link {
  color: #FFFFFF;
  text-decoration: none;
}
.header-content {
  width: 1170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header-title {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 60px;
  color: #FFFFFF;
  line-height: 1;
}
.header-content p{
  font-family: 'PT Sans';
  font-size: 24px;
  color: #FFFFFF;
}
.header-scroll{
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%);
  display: inline-block;
  height: 55px;
  font-family: 'PT Sans';
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.header-scroll::after{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background-image: url(../img/Header/arrow-down.svg);
  content: '';
  display: block;
  width: 24px;
  height: 24px;
}
.header-nav-butoon{
  display: none;
}
/* MAIN */
.main {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.mian-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.mian-row:last-child{
  margin-bottom: 0;
}
.main-row-reverse{
  flex-direction: row-reverse;
}
.main-content {
  width: 470px;
}
.main-content p{
  font-family: 'PT Sans';
  font-size: 20px;
  line-height: 1.6;
  color: #31405B;
  margin-bottom: 40px;
}
.main-content-text a{
  color: #138ECE;
  text-decoration: underline;
}
.button{
  display: inline-block;
  height: 50px;
  background: #0AC883;
  box-shadow: 0px 8px 20px rgba(24, 219, 148, 0.35);
  border-radius: 50px;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  padding: 0px 40px;
  text-decoration: none;
  line-height: 50px;
  cursor: pointer;
}
.main-img {
  width: 570px;
}
/* FOOTER */

.footer {
  background-color: #265847;
  padding-top: 70px;
  padding-bottom: 90px;
  color: #FFFFFF;
}
.footer a {
  color: #FFFFFF;
  text-decoration: none;
}
.footer a:hover{
text-decoration: underline;
}
.footer-row {
  display: flex;
  justify-content: space-between;
}
.footer-copyright {
  width: 270px;
}
.footer-copyright p{
  font-family: 'PT Sans';
  font-size: 16px;
  line-height: 1.6;
  color: #FFFFFF;
}
.footer-logo{
  margin-bottom: 26px;
}
.footer-widget-wrapper{
  display: flex;
}
.footer-widget {
  font-size: 18px;
}
.footer-widget-info{
  width: 170px;
}
.footer-widget-services, .footer-widget-contacts{
  width: 270px;
}
.footer-widget + .footer-widget{
  margin-left: 30px;
}
.footer-widget-title {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.footer-widget-list {
  font-family: 'PT Sans';
  font-size: 18px;
  color: #FFFFFF;
}
.footer-widget-list li{
margin-bottom: 15px;
}

.inner-page-tour-header{
  margin-bottom: 60px;
  text-align: center;
}


/* CARDS */

.cards-row-first {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.cards-row-1 {
  width: 570px;
  height: 435px;

}

.card-title-wrapper {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 30px;
  background-color: #A6A6A6;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;

}
.card-title {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 28px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.cards-row-2 {
  width: 570px;
  height: 435px;
  background-color: #0AC883;

}

.card-title-wrapper.sand-color{
  background-color: #C1B19B;
}

.card-title-wrapper.blu-color{
  background-color: #66B0BE;
}

.card-title-wrapper.brown-color{
  background-color: #876F56;
}

.card-title-wrapper.green-color{
  background-color: #27695E;
}


.cards-row-second {
  display: flex;
  justify-content: space-between;
}

.card-3 {
width: 670px;
height: 365px;
background-color: #400ac8;
margin-bottom: 30px;
}
.card-4 {
  width: 670px;
  height: 365px;
  background-color: #0aa5c8;
}
.card-5 {
  width: 470px;
  height: 760px;
  background-color: #c80a9f;
}

/* Article page */

.row-article-page{
  display: flex;
  justify-content: space-between;
}

.article-nav{
width: 270px;
flex-shrink: 0;
flex-grow: 0;
}

.article{
  width: 770px;
  flex-shrink: 0;
  flex-grow: 0;
}

.article-page-title{
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 28px;
  color: #31405B;
  margin-bottom: 34px;
}

.article-page-list{
  border-top: 1px solid #D6D9D8;
  font-size: 20px;
}

.article-page-list li{
  border-bottom: 1px solid #D6D9D8;

}
.article-page-list a.active{
  color: #E04E4E;
  font-weight: 700;
}

.article-page-list a:hover{
  text-decoration:underline;
}

.article-page-list a{
  display: block;
color: #138ECE;
padding-top: 14px;
padding-bottom: 14px;
}

.article h1{
  margin-bottom: 40px;
  margin-top: -6px;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 54px;
  line-height: 1.2;
  color: #31405B;
}
.article h2{
  margin-bottom: 15px;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: #31405B;
}

.article h3{  
  margin-bottom: 15px;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #31405B;}

.article h4{  
  margin-bottom: 15px;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: #31405B;}

.article p{
  margin-bottom: 15px;
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #31405B;
}

.article a{
  color: #138ECE;
  text-decoration: underline;
}

.article img{
  margin-bottom: 40px;
  margin-top: 40px;
}

.article >*:last-child{
  margin-bottom: 0;
}



/* Contact */

.contact-header{
  margin-bottom: 40px;
}
.contact-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.contact-info {
  width: 470px;
}

.contact-block +.contact-block{
  margin-top: 40px;
}
.contact-block-title {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #31405B;
  margin-bottom: 20px;
}
.contact-block-body {
  font-size: 20px;
}
.contact-list li{
  margin-bottom: 15px;
}
.contact-list a{
  color: #31405B;
}
.contact-list-icon{
  position: relative;
  padding-left: 39px;
}
.contact-list-icon::before{
  content:'';
  display: block;
  position: absolute;
  left:0;
  top:0;
  width: 24px;
  height: 24px;
}
.contact-list-icon.phone::before{
background-image: url(../img/icons/tel.svg);
}
.contact-list-icon.email::before{
background-image: url(../img/icons/mail.svg);
}
.contact-list-icon.adress::before{
background-image: url(../img/icons/map-pin.svg);
}
.form{
  width: 630px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(211, 211, 211, 0.25);
padding: 40px;
}
.fotm-titile{
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 28px;
  color: #31405B;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 30px;
}
.form-group-title {
  margin-bottom: 15px;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 20px;
  color: #31405B;
}
.form-group:last-of-type{
  margin-bottom: 35px;
}
.input {
  width: 100%;
  height: 50px;
  background: #EEEEEE;
  border: 1px solid #C0C0C0;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;

  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: rgba(49, 64, 91, 0.5);
}
.form-group-row {
margin-bottom: 10px;
display: flex;
justify-content: space-between;
}
.form-group-row > .input + .input{
  margin-left: 10px;
}
.input::placeholder{
  color: rgba(49, 64, 91, 0.5);
}
.radio-row{
  margin-bottom: 20px;
  display: flex;
  cursor: pointer;
  align-items: flex-start;
}
.real-radio{
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
  appearance: none;
}
.real-radio:focus + .custom-radio{
  border: 1px solid #2ab698;
  box-shadow: 1px 0 10px rgba(42, 182, 152, 0.5);
  outline: 1px solid black;
}
.custom-radio{
  flex-shrink: 0;
  position: relative;
  display:inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: #EEEEEE;
  border: 1px solid #C0C0C0;
  border-radius: 50%;
}
.custom-radio::before{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 12px;
  height: 12px;
  background: #2AB698;
  border-radius: 50%;

  transition: transform 0.2s ease-in;
}
.real-radio:checked + .custom-radio::before {
display: block;
transform: translate(-50%, -50%) scale(1);
}
.checkbox-row {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
}
.real-checkbox {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
  appearance: none;
}

.real-checkbox:focus + .custom-checkbox{
  border: 1px solid #2ab698;
  box-shadow: 1px 0 10px rgba(42, 182, 152, 0.5);
}
.custom-checkbox {
  flex-shrink: 0;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: #EEEEEE;
  border: 1px solid #C0C0C0;
  border-radius: 2px;
}

.custom-checkbox::before{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 17px;
  height: 17px;
  background-image: url(../img/icons/Shape.svg);
  transition: transform 0.2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before{
  transform: translate(-50%, -50%) scale(1);
}