.header::before, .section-cta::before, .section-price::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  height: 100%;
  /* sticky footer */
  display: -webkit-box;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  /* sticky footer */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #2E2E2E;
}

body > * {
  flex-shrink: 0;
  /* sticky footer */
}

input, textarea, button {
  font-family: inherit;
  padding: 0;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

/* Grid styles */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

/* Utility */
.none {
  display: none !important;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  text-align: center;
  background-color: #e2e2e2;
  padding: 50px 0;
}

.header {
  position: relative;
  z-index: 999;
  background-repeat: no-repeat;
  background-image: url("./../img/bg/price-bg.jpg");
  background-image: url("./../img/header/header.jpg");
  background-size: cover;
  background-position: center;
  /* Desctop MD */
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1600px) {
  .header {
    background-image: url("./../img/bg/price-bg.jpg");
    background-image: url("./../img/bg/header_1600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  .header {
    background-image: url("./../img/bg/price-bg.jpg");
    background-image: url("./../img/bg/header_900.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 899px) {
  .header {
    background-image: url("./../img/bg/price-bg.jpg");
    background-image: url("./../img/bg/header_600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .header {
    background-image: url("./../img/bg/price-bg.jpg");
    background-image: url("./../img/bg/header_320.jpg");
    background-size: cover;
    background-position: center;
  }
}

.header__wrapper {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  padding-top: 60px;
  padding-bottom: 100px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .header__wrapper {
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .header__wrapper {
    padding-top: 20px;
  }
}
@media (max-width: 599px) {
  .header__wrapper {
    padding-bottom: 40px;
  }
}

.header__buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 140px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .header__buttons {
    margin-bottom: 100px;
    width: 100%;
  }
}
@media (max-width: 899px) {
  .header__buttons {
    margin-bottom: 30px;
  }
}

.header__buttons-nav-icon {
  flex-shrink: 0;
}

.header__buttons-search {
  margin-left: auto;
}

.header__content {
  margin-bottom: 148px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .header__content {
    margin-bottom: 129px;
  }
}
@media (max-width: 899px) {
  .header__content {
    margin-bottom: 80px;
  }
}
@media (max-width: 599px) {
  .header__content {
    margin-bottom: 50px;
  }
}

.header__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  color: #ffffff;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .header__title {
    margin-bottom: 35px;
    font-size: 84px;
  }
}
@media (max-width: 899px) {
  .header__title {
    font-size: 70px;
    margin-bottom: 30px;
  }
}

.header__desc {
  margin-bottom: 70px;
  margin-right: auto;
  margin-left: auto;
  max-width: 730px;
  font-weight: 700;
  font-size: 20px;
  line-height: auto;
  color: #ffffff;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.header__desc p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .header__desc {
    margin-bottom: 50px;
    font-size: 18px;
  }
}
@media (max-width: 899px) {
  .header__desc {
    font-size: 16px;
    max-width: 430px;
  }
}
@media (max-width: 599px) {
  .header__desc {
    margin-bottom: 30px;
  }
}

.header__scroll {
  bottom: 100px;
}

.section-cta {
  position: relative;
  padding-top: 83px;
  padding-bottom: 84px;
  background-image: url("./../img/bg/price-bg.jpg");
  background-image: url("./../img/bg/bg.jpg");
  background-size: cover;
  background-position: center;
  /* Desctop MD */
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1600px) {
  .section-cta {
    background-image: url("./../img/bg/price-bg.jpg");
    background-image: url("./../img/bg/cta_bg_1600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  .section-cta {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("./../img/bg/price-bg.jpg");
    background-image: url("./../img/bg/cta_bg_900.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .section-cta {
    background-image: url("./../img/bg/price-bg.jpg");
    background-image: url("./../img/bg/cta_bg_320.jpg");
    background-size: cover;
    background-position: center;
  }
}

.section-cta__content {
  position: relative;
  z-index: 9;
  color: #ffffff;
  text-align: center;
}

.section-cta__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .section-cta__title {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .section-cta__title {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

span {
  text-transform: uppercase;
  font-weight: 700;
}

.section-tasks {
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e1e1e1;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-tasks {
    padding-bottom: 10px;
  }
}
@media (max-width: 599px) {
  .section-tasks {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-tasks__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding-left: 100px;
  padding-right: 114px;
  -webkit-box-align: center;
          align-items: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__row {
    padding-left: 75px;
    padding-right: 0;
  }
}
@media (max-width: 899px) {
  .section-tasks__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
    padding-left: 0;
  }
}
@media (max-width: 599px) {
  .section-tasks__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }
}

.section-tasks__row > * {
  flex-shrink: 0;
}

.section-tasks__content {
  width: 570px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__content {
    width: 495px;
  }
}
@media (max-width: 899px) {
  .section-tasks__content {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .section-tasks__content {
    text-align: center;
  }
}

.section-tasks__header {
  margin-bottom: 30px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .section-tasks__header {
    margin-bottom: 20px;
  }
}

.section-tasks__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15d784;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-tasks__title {
    margin-bottom: 10px;
  }
}

.section-tasks__subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  color: #2e2e2e;
}

.section-tasks__text {
  width: 400px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  /* Tablet */
  /* Mobile */
}
.section-tasks__text p {
  margin-bottom: 15px;
  color: #808080;
}
@media (max-width: 1199px) {
  .section-tasks__text {
    width: unset;
    max-width: 420px;
  }
}
@media (max-width: 899px) {
  .section-tasks__text {
    line-height: 1.7;
  }
}

.section-tasks__img {
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__img {
    width: 265px;
  }
}
@media (max-width: 899px) {
  .section-tasks__img {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .section-tasks__img {
    width: 100%;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
  .section-tasks__img img {
    width: 270px;
    margin-right: auto;
    margin-left: auto;
  }
}

.section-functional {
  padding-top: 80px;
  padding-bottom: 80px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-functional {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
@media (max-width: 599px) {
  .section-functional {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-functional__header {
  margin-bottom: 70px;
  text-align: center;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-functional__header {
    margin-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .section-functional__header {
    margin-bottom: 40px;
  }
}

.section-functional__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-functional__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-functional__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-functional__title {
    margin-bottom: 10px;
  }
}

.section-functional__row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .section-functional__row {
    margin-top: -30px;
  }
}
@media (max-width: 599px) {
  .section-functional__row {
    margin-top: -40px;
  }
}

.section-functional__row > * {
  margin-left: 15px;
  margin-right: 15px;
  flex-shrink: 0;
}

.section-focus {
  padding-top: 80px;
  padding-bottom: 40px;
  overflow-x: hidden;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-focus {
    padding-bottom: 0;
  }
}
@media (max-width: 599px) {
  .section-focus {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-focus__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
          align-items: flex-start;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .section-focus__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
  }
}
@media (max-width: 599px) {
  .section-focus__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

.section-focus__row > * {
  flex-shrink: 0;
}

.section-focus__content {
  width: 470px;
  padding-top: 28px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus__content {
    width: 420px;
    padding-top: 12px;
  }
}
@media (max-width: 899px) {
  .section-focus__content {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-focus__content {
    width: 100%;
    text-align: center;
  }
}

.section-focus__header {
  margin-bottom: 30px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .section-focus__header {
    margin-bottom: 20px;
  }
}

.section-focus__title {
  margin-bottom: 30px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-focus__title {
    margin-bottom: 10px;
  }
}

.section-focus__text {
  width: 400px;
  /* Tablet */
}
.section-focus__text p {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;
  /* Mobile */
}
@media (max-width: 899px) {
  .section-focus__text p {
    line-height: 1.7;
  }
}
@media (max-width: 1199px) {
  .section-focus__text {
    width: unset;
    max-width: 420px;
  }
}

.section-focus__img {
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-focus__img {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__img {
    width: 170px;
    /* Mobile XS */
  }
  .section-focus__img img {
    max-width: unset;
    width: 415px;
    height: auto;
  }
}
@media (max-width: 899px) and (max-width: 599px) {
  .section-focus__img {
    width: 100%;
  }
  .section-focus__img img {
    max-width: 100%;
  }
}

.section-price {
  position: relative;
  padding-top: 90px;
  padding-bottom: 100px;
  background-image: url("./../img/bg/price-bg.jpg");
  background-image: url("./../img/bg/price-bg.jpg");
  background-size: cover;
  background-position: center;
  /* Desctop MD */
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.section-price .title, .section-price .subtitle {
  color: #FFFFFF;
}
@media (max-width: 1600px) {
  .section-price {
    background-image: url("./../img/bg/price-bg.jpg");
    background-image: url("./../img/bg/price-1600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  .section-price {
    background-image: url("./../img/bg/price-bg.jpg");
    background-image: url("./../img/bg/price-900.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-price {
    background-image: url("./../img/bg/price-bg.jpg");
    background-image: url("./../img/bg/price-600.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-price {
    background-image: url("./../img/bg/price-bg.jpg");
    background-image: url("./../img/bg/price-320.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 40px;
  }
}

.section-price__content {
  position: relative;
  z-index: 9;
}

.section-price__header {
  text-align: center;
  margin-bottom: 80px;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-price__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-price__header {
    margin-bottom: 40px;
  }
}

.section-price_title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-price_title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-price_title {
    margin-bottom: 10px;
  }
}

.section-clients {
  padding-top: 80px;
  padding-bottom: 80px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .section-clients {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-clients_header {
  margin-bottom: 60px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients_header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-clients_header {
    margin-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-clients_header {
    margin-bottom: 30px;
  }
}

.section-clients__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-clients__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-clients__title {
    margin-bottom: 10px;
  }
}

.section-clients__slider {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients__slider {
    width: 720px;
  }
}
@media (max-width: 899px) {
  .section-clients__slider {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-clients__slider {
    width: 290px;
  }
}

.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #1a1a1a;
  color: #fff;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .footer__row {
    margin-bottom: 40px;
  }
}
@media (max-width: 899px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__row {
    margin-bottom: 40px;
  }
}

.footer__nav {
  margin-right: 50px;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .footer__nav {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: 40px;
  }
}

.footer__nav-item {
  margin-right: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  /* Mobile XS */
}
.footer__nav-item:last-child {
  margin-right: 0;
}
.footer__nav-item:hover {
  color: #15d784;
  transition: 0.8s;
}
@media (max-width: 599px) {
  .footer__nav-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer__nav-item:last-child {
    margin-bottom: 0;
  }
}

.footer__social-item {
  margin-right: 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  background: rgba(196, 196, 196, 0.1);
  border-radius: 50%;
  /* Mobile XS */
}
.footer__social-item:last-child {
  margin-right: 0;
}
.footer__social-item:hover {
  background-color: #00c470;
  transition: 0.8s;
}
@media (max-width: 599px) {
  .footer__social-item {
    margin-right: 20px;
  }
  .footer__social-item:last-child {
    margin-bottom: 0;
  }
}

.footer__social {
  display: -webkit-box;
  display: flex;
}

.footer_copyright {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.3);
}

.header__form {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .header__form {
    width: 370px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: stretch;
            align-items: stretch;
  }
}
@media (max-width: 599px) {
  .header__form {
    width: 100%;
  }
}

.input {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 60px;
  color: #ffffff;
}

.input::-webkit-input-placeholder {
  color: #ffffff;
}

.input:-ms-input-placeholder {
  color: #ffffff;
}

.input::-ms-input-placeholder {
  color: #ffffff;
}

.input::placeholder {
  color: #ffffff;
}

.input:focus {
  background-color: black;
}

.header__form > * + * {
  margin-left: 20px;
  /* Mobile */
}
@media (max-width: 899px) {
  .header__form > * + * {
    margin-left: 0;
    margin-top: 20px;
  }
}

.header__form-input {
  width: 240px;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .header__form-input {
    width: 100%;
  }
}

.button {
  display: inline-block;
  text-decoration: none;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  background: #00C470;
  border-radius: 30px;
  border: none;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.button:hover {
  cursor: pointer;
  background-color: #02a15c;
  transition: 0.8s;
}
.button:focus {
  background-color: #017845;
}

.title {
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15D784;
  /* Mobile */
}
@media (max-width: 899px) {
  .title {
    font-size: 14px;
  }
}

.subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .subtitle {
    font-size: 38px;
  }
}
@media (max-width: 899px) {
  .subtitle {
    font-size: 30px;
  }
}
@media (max-width: 599px) {
  .subtitle {
    font-size: 26px;
  }
}

.card {
  width: 270px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .card {
    width: 195px;
  }
}
@media (max-width: 899px) {
  .card {
    width: 270px;
    margin-top: 30px;
  }
}
@media (max-width: 599px) {
  .card {
    width: 290px;
    margin-top: 40px;
  }
}

.img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .img {
    margin-bottom: 20px;
  }
}

.card__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .card__title {
    margin-bottom: 10px;
    min-height: 32px;
  }
}
@media (max-width: 899px) {
  .card__title {
    min-height: unset;
  }
}

.card__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;
  /* Tablet */
}
@media (max-width: 1199px) {
  .card__text {
    line-height: 1.57;
  }
}

.section-price__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
  /* Mobile */
}
@media (max-width: 899px) {
  .section-price__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-top: -30px;
    -webkit-box-align: center;
            align-items: center;
  }
}

.section-price__row > * {
  margin-left: 15px;
  margin-right: 15px;
  width: 300px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-price__row > * {
    width: 270px;
  }
}
@media (max-width: 899px) {
  .section-price__row > * {
    margin-top: 30px;
    width: 300px;
  }
}
@media (max-width: 599px) {
  .section-price__row > * {
    width: 290px;
  }
}

.package {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #FFFFFF;
  text-align: center;
}

.package--special {
  background-color: #304FFE;
}
.package--special .package__title {
  color: #FFFFFF;
}
.package--special .package__period {
  background: rgba(0, 0, 0, 0.1);
}

.package__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.package__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #B2B2B2;
}

.package__price {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.package__period {
  display: inline-block;
  height: 24px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.package__list {
  margin-bottom: 58px;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.package__list-item {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #FFFFFF;
}
.package__list-item:last-child {
  margin-bottom: 0;
}

.package__button {
  margin-top: auto;
}

.button-otline {
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
  border: none;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}
.button-otline:hover {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.8s;
}
.button-otline:focus {
  outline: none;
  background: black;
}

.button-solid {
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
  border: none;
  background: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #2e2e2e;
  cursor: pointer;
}
.button-solid:hover {
  background: #000000;
  color: #ffffff;
  transition: 0.8s;
}
.button-solid:focus {
  outline: none;
  background: #2f2f2f;
  color: #ffffff;
}

.slider {
  position: relative;
  padding-bottom: 54px;
  /* Mobile */
}
@media (max-width: 899px) {
  .slider {
    padding-bottom: 44px;
  }
}

.slider__arrow {
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #f5f5f5;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  /* Mobile XS */
}
.slider__arrow .slider__arrow-svg {
  stroke: #00C470;
}
.slider__arrow:hover {
  background-color: #00C470;
}
.slider__arrow:hover .slider__arrow-svg {
  stroke: #fff;
}
.slider__arrow--left {
  left: -46px;
  top: 53px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
@media (max-width: 949px) {
  .slider__arrow--left {
    left: -30px;
  }
}
.slider__arrow--right {
  right: -46px;
  top: 53px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
@media (max-width: 949px) {
  .slider__arrow--right {
    right: -30px;
  }
}
@media (max-width: 599px) {
  .slider__arrow {
    display: none;
  }
}

.section-clients__slider {
  position: relative;
}

.slider__pagination {
  display: -webkit-box;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.slider__pagination-item {
  margin-right: 10px;
  border: none;
  width: 14px;
  height: 14px;
  background: #e1e1e1;
  border-radius: 50%;
}
.slider__pagination-item:last-child {
  margin-right: 0;
}

.slider__pagination-item--active {
  background: #00c470;
}

.slider-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

.slider-item__text {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: #000000;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.slider-item__text p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .slider-item__text {
    line-height: 1.5;
  }
}
@media (max-width: 899px) {
  .slider-item__text {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .slider-item__text {
    font-size: 14px;
  }
}

.slider-item__autor {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.slider-item__avatar {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .slider-item__avatar {
    margin-right: 10px;
    width: 60px;
    height: 60px;
  }
}

.slider-item__autor-desc {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .slider-item__autor-desc {
    font-size: 14px;
  }
}

.slider-item__autor-title {
  display: block;
  margin-bottom: 5px;
  color: #00c470;
}

.slider-item__autor-name {
  display: block;
  color: #808080;
}

.nav-icon {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}
.nav-icon:hover {
  background-color: #00c470;
}
.nav-icon:hover .nav-icon__middle,
.nav-icon:hover .nav-icon__middle::after,
.nav-icon:hover .nav-icon__middle::before {
  background-color: #fff;
}

.nav-icon__middle {
  position: relative;
  width: 20px;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  transition: background-color 0.2s ease-in;
}
.nav-icon__middle::before, .nav-icon__middle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 3px;
  transition: background-color 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  background-color: #000;
  border-radius: 2px;
}
.nav-icon__middle::before {
  top: -7px;
}
.nav-icon__middle::after {
  top: 7px;
}

/* Active state */
.nav-icon.nav-icon--active .nav-icon__middle {
  background-color: transparent;
}
.nav-icon.nav-icon--active .nav-icon__middle::before, .nav-icon.nav-icon--active .nav-icon__middle::after {
  top: 0;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.nav-icon.nav-icon--active .nav-icon__middle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav-icon.nav-icon--active .nav-icon__middle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-icon.nav-icon--active {
  position: fixed;
  z-index: 999;
}

.nav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  transition: opacity 0.2s ease-in, top 0s linear 0.2s;
}

.nav.nav--active {
  top: 0;
  opacity: 1;
  transition: top 0s linear, opacity 0.2s ease-in;
  z-index: 99;
}

.nav__top {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15D784;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .nav__top {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.nav__list {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #ffffff;
  font-size: 24px;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .nav__list {
    font-size: 18px;
  }
}
.nav__list li {
  margin-bottom: 40px;
}
.nav__list a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease-in;
}
.nav__list a:hover {
  color: #15D784;
}

.search__button {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.search__button:hover {
  background-color: #00c470;
}
.search__button:hover .search__button-icon {
  stroke: #fff;
}
.search__button:focus {
  outline: none;
}

.search {
  position: relative;
  z-index: 9;
}

.search__input {
  width: 0px;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  background: #ffffff;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 60px;
  color: #000000;
  transition: width 0.2s ease-in;
}
.search__input::-webkit-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input:-ms-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input::-ms-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input::placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input:focus {
  outline: none;
}

.search__button-icon {
  stroke: black;
  transition: stroke 0.2s ease-in;
}

.search.search--visible .search__input {
  display: block;
  width: 340px;
  padding-left: 30px;
  padding-right: 70px;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .search.search--visible .search__input {
    width: 220px;
    padding-left: 20px;
    font-size: 14px;
  }
}
.search.search--visible .search__button {
  background-color: #00c470;
}
.search.search--visible .search__button .search__button-icon {
  stroke: white;
}
.search.search--visible .search__button:hover {
  background-color: #15D784;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
  color: white;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #e1e1e1;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: #00c470;
  color: white;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 35px;
  /* Mobile */
}
@media (max-width: 899px) {
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 25px;
  }
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
  margin: 5px 5px;
  background: #e1e1e1;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 50%;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #00c470;
}

/* Tablet */
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
/* Mobile */
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
/* Mobile XS */
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

/*# sourceMappingURL=main.css.map */