.section-tasks {
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e1e1e1;

  /* Tablet */
  @media (max-width: 1199px) {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  /* Mobile */
  @media (max-width: 899px) {
    padding-bottom: 10px;
  }
  /* Mobile XS */
  @media (max-width: 599px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-tasks__row {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 114px;
  align-items: center;

  /* Tablet */
  @media (max-width: 1199px) {
    padding-left: 75px;
    padding-right: 0;
  }
  /* Mobile */
  @media (max-width: 899px) {
    flex-direction: row-reverse;
    padding-left: 0;
  }
  /* Mobile XS */
  @media (max-width: 599px) {
    flex-direction: column-reverse;
  }
}
.section-tasks__row > * {
  flex-shrink: 0;
}

.section-tasks__content {
  width: 570px;

  /* Tablet */
  @media (max-width: 1199px) {
    width: 495px;
  }

  /* Mobile */
  @media (max-width: 899px) {
    width: 270px;
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    text-align: center;
  }
}
.section-tasks__header {
  margin-bottom: 30px;

  /* Tablet */
  @media (max-width: 1199px) {
     margin-bottom: 20px;
  }
}

.section-tasks__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15d784;

  /* Tablet */
  @media (max-width: 1199px) {
     margin-bottom: 20px;
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    margin-bottom: 10px;
  }
}
.section-tasks__subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  color: #2e2e2e;
}

.section-tasks__text {
  width: 400px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  p{
    margin-bottom: 15px;
    color: #808080;
  }

  /* Tablet */
  @media (max-width: 1199px) {
     width: unset;
     max-width: 420px;
  }

      /* Mobile */
      @media (max-width: 899px) {
        line-height: 1.7;
     }

}

.section-tasks__img {
  /* Tablet */
  @media (max-width: 1199px) {
    width: 265px;
  }

  /* Mobile */
  @media (max-width: 899px) {
    width: 270px;
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    img {
      width: 270px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
