.btn {
	display: inline-block;
	padding: 17px 36px 16px;
	min-width: 150px;
	height: 50px;

	background: var(--efbd68);
	border-radius: 50px;

	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: var(--333333);

	transition: all 0.2s ease-in;
}

.btn:hover {
	color: #fff;
	background-color: var(--333333);
}