:root {
	--efbd68: #edb24e;
	--ffb7a1: #ffb7a1;
	--ffbfbe: #ffbfbe;
	--919f88: #919f88;
	--c8cfd7: #c8cfd7;
	--95a1af: #95a1af;
	--333333: #333;
}

:root {
	--font-family: 'Montserrat', sans-serif;
	--second-family: 'Nunito', sans-serif;
}