.card {
  width: 270px;
  text-align: center;

  /* Tablet */
  @media (max-width: 1199px) {
    width: 195px;
}
/* Mobile */
@media (max-width: 899px) {
   width: 270px;
   margin-top: 30px;
}

/* Mobile XS */
@media (max-width: 599px) {
  width: 290px;
  margin-top: 40px;
}

}
.img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  /* Tablet */
  @media (max-width: 1199px) {
     margin-bottom: 20px;
  }
}
.card__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;

  /* Tablet */
  @media (max-width: 1199px) {
     margin-bottom: 10px;
     min-height: 32px;
  }

  /* Mobile */
  @media (max-width: 899px) {
     min-height: unset;
  }
}
.card__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;

  /* Tablet */
  @media (max-width: 1199px) {
     line-height: 1.57;
  }
}