// Ширина и высота линии в иконке
$lineWidth: 20px;
$lineHeight: 3px;
$radius: 2px;
$lineMargin: 4px;
$color: #000;

// Размеры контейнера
// $width: $lineWidth;
// $height: $lineHeight * 3 + $lineMargin * 2;

$width: 60px;
$height: 60px;

.nav-icon {
  width: $width;
  height: $height;

  display: flex;
  justify-content: center;
  align-items: center;

  
  background-color: #fff;
  border-radius: 50%;
  border: none;

  transition: background-color 0.2s ease-in;

  cursor: pointer;

  &:hover {
    background-color: #00c470;
    .nav-icon__middle,
    .nav-icon__middle::after,
    .nav-icon__middle::before {
      background-color: #fff;
    }
  }
}

.nav-icon__middle {
  position: relative;
  width: $lineWidth;
  height: $lineHeight;
  background-color: $color;
  border-radius: $radius;
  transition: background-color 0.2s ease-in;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: $lineWidth;
    height: $lineHeight;
    transition: background-color 0.2s ease-in;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    background-color: $color;
    border-radius: $radius;
  }

  &::before {
    top: -($lineHeight + $lineMargin);
  }

  &::after {
    top: $lineHeight + $lineMargin;
  }
}

/* Active state */

.nav-icon.nav-icon--active .nav-icon__middle {
  background-color: transparent;

  &::before,
  &::after {
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}


.nav-icon.nav-icon--active{
  position: fixed;
  z-index: 999;
}
