.nav {
  // display: none;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  // transition: top 0s linear, opacity .2s ease-in;
  transition: opacity 0.2s ease-in, top 0s linear 0.2s;
}


.nav.nav--active {
  top: 0;
  opacity: 1;
  transition: top 0s linear, opacity 0.2s ease-in;
  z-index: 99;
}

.nav__top {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: $accentText;

  /* Mobile XS */
  @media (max-width: 599px) {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.nav__list {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #ffffff;
  font-size: 24px;
/* Mobile XS */
@media (max-width: 599px) {
  font-size: 18px;
}

  li {
    margin-bottom: 40px;
  }
  a {
    text-decoration: none;
    color: #fff;
    transition: color 0.2s ease-in;

    &:hover {
        color: $accentText;
      }
  }

}
