.subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;

  /* Tablet */
  @media (max-width: 1199px) {
    font-size: 38px;
  }
  /* Mobile */
  @media (max-width: 899px) {
    font-size: 30px;
  }
  /* Mobile XS */
  @media (max-width: 599px) {
    font-size: 26px;
  }
}
